@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <p><h2>Hello There!</h2></p>
    </div>

    <div>
        <p><h4>Register to have access to Database of Game and Details.</h4></p>
    </div>

    <div class="clearfix">
        <img style="display: block; margin: 0 auto; width:900px;height: auto " src="~/Images/ToHome/defaultImage.jpg" />
    </div>

</div>