
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="container">
    <div>Email:<input type="text" name="email" /></div>
    <div>Password:<input type="password" name="password" /></div>
    <div><button type="submit">Login In</button></div>
</div>

